#bouton{
    float: right;
}
.price{
    background-color: black;
    color: white;
    padding: 5px;
}

.title{
    background-color: black;
        color: white;
        padding: 1px;
        margin-left: -18px;
        margin-top: 110px;
        width: 80%;
}
 @media screen and (min-width: 200px) and (max-width: 640px) {
.title{
    background-color: red;
    color: white;
    padding: 1px;
    margin-left: -18px;
    margin-top: 75px;
    width: 80%;
   }
}
@media screen and (max-width: 1024px) {
.title{
    background-color: rgba(0, 0, 0, 0.137);
    color: white;
    padding: 1px;
    margin-left: -18px;
    margin-top: 57px;
    width: 80%;
  }
}