<app-banner></app-banner>
<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6" *ngFor="let product of products"> 
            <div class="card img-fluid" style="width:500px">
            <img class="card-img-top" src="{{product?.image}}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
                <a href="#" class="btn btn-success" id="bouton" *ngIf="product?.price">Buy Now</a><br><br>
                <div class="card-title" style="text-align: right;"><span class="price" *ngIf="product?.price">{{product?.price}}/ton</span></div>
              <div class="title"><h5 class="card-title">{{product?.name}}</h5></div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product?.quantity}}</h5>
                <h6><a href="#">{{product?.cause}}</a></h6>
                <p class="card-text">{{product?.description}}</p>
              </div>
          </div> 
        </div>
    </div><br><br>
</div>