<div>
    <div class="header-blue">
        <div class="container hero">
            <div class="row">
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                    <div class="iphone-mockup"> <img class="device" src="assets/projects.png"> <!-- <div class="screen">	</div>	-->
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <p>Our environmental project are providing amny environmental benefits around the world<br></p> 
                </div>
                
            </div>
        </div>
    </div>
</div>